/bstates/00_bstate_pdbs/
/bstates/01_bstate_setup/
/bstates/02_bstate_equilibration/
/bstates/extracted_bstates_*/
/bstates/03_bstates_final/
.Rhistory
/bstates/04_analyze/raw/
/trials/
/bstates/Scheme_*/